@using A_Little_Extra_System.Data.ViewModal;
@using A_Little_Extra_System.Data.Static;
@model Profile

@{
    ViewData["Title"] = "Profile";
}

<section class="my-sm-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-5">
            <div class="d-flex">
                <div>
                    <div class="user-profile rounded-circle">
                        @* <img class="image-preview" src="@UserManager.GetUserAsync(User).Result.ImageURL"></img> *@
                        <img class="image-preview"></img>
                        <div class="avarta-indicator"></div>
                    </div>
                </div>
                <div class="ms-3">
                    @if (User.IsInRole(UserRoles.Student) || User.IsInRole(UserRoles.DepartmentStaff))
                    {
                        <h1 class="h-02 mb-3">@Model.User.FirstName @Model.User.LastName</h1>
                    }
                    else
                    {
                        <h1 class="h-02 mb-3">@Model.User.PatnerName</h1>
                    }
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-envelope"></i>
                            <span class="ms-2">@Model.User.Email</span>
                        </div>
                        <div class="d-flex align-items-center ms-5">
                            <i class="fa-solid fa-phone"></i>
                            <span class="ms-2">@Model.User.PhoneNumber</span>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole(UserRoles.Student))
            {
                <div>
                    <h2 class="h-02">@Model.User.Points Points</h2>
                </div>
            }
            <div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#logout">Logout</button>
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#delete">Delete</button>
                    <a class="btn btn-primary w-100" asp-action="Update">Update</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="section-header d-flex mb-5">
                    <h1 class="h-04 flex-grow-1">Posted activity history </h1>
                </div>
                <div class="mb-5">
                    <table class="table table-sortable" id="myTable">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">Activity name <i class="fa-solid fa-sort"></i></th>
                                <th onclick="sortTable(2)">End date <i class="fa-solid fa-sort"></i></th>
                                <th onclick="sortTable(3)">Points <i class="fa-solid fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PostedHistory)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.EndDate.ToString("dd MMM yyyy")</td>
                                    <td>@item.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if(Model.PostedHistory.Count() == 0){
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 empty">
                                    <div class="d-flex justify-content-center align-items-center empty-image sml-img">
                                        <img src="~/images/empty_file.png" alt="">
                                    </div>
                                    <div class="message text-center mt-4">
                                        <h5 class="h-04">List is empty</h5>
                                        <span>Your list is empty at the moment</span>
                                    </div>
                                </div>
                }
                </div>
            </div>
            @if (User.IsInRole(UserRoles.Student) || User.IsInRole(UserRoles.DepartmentStaff))
            {
                <div class="col-md-6">
                    <div class="section-header d-flex mb-5">
                        @if (User.IsInRole(UserRoles.Student))
                        {
                            <h1 class="h-04 flex-grow-1">Participation history</h1>
                        }
                        else
                        {
                            <h1 class="h-04 flex-grow-1">Supervision history</h1>
                        }
                    </div>
                    <div class="mb-5">
                        <table class="table table-sortable">
                            <thead>
                                <tr>
                                    <th scope="col">Activity name <i class="fa-solid fa-sort"></i></th>
                                    <th scope="col">End date <i class="fa-solid fa-sort"></i></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OtherHistory)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.EndDate.ToString("dd MMM yyyy")</td>
                                        <td>
                                            <form asp-action="GenerateCertificate" class="row">
                                                <input class="btn btn-primary w-100" type="submit" value="Certificate" asp-for-id="@item.Id" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if(Model.PostedHistory.Count() == 0){
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 empty">
                                    <div class="d-flex justify-content-center align-items-center empty-image sml-img">
                                        <img src="~/images/empty_file.png" alt="">
                                    </div>
                                    <div class="message text-center mt-4">
                                        <h5 class="h-04">List is empty</h5>
                                        <span>Your list is empty at the moment</span>
                                    </div>
                                </div>
                }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<div class="modal" id="logout" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-20 pd-20">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title h-04 text-prim-color">Logout</h5>
            </div>
            <div class="modal-body text-center">
                <p>You are about to be logged out.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary w-100" asp-controller="Account" asp-action="Logout">Confirm</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-20 pd-20">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title h-04 text-prim-color">Delete account</h5>
            </div>
            <div class="modal-body text-center">
                <p>Are you sure you want to delete your account.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary w-100" asp-controller="Account" asp-action="Delete">Confirm</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    function sortTableByColumn(table, column, asc = true) {
	const dirModifier = asc ? 1 : -1;
	const tBody = table.tBodies[0];
	const rows = Array.from(tBody.querySelectorAll("tr"));

	// Sort each row
	const sortedRows = rows.sort((a, b) => {
		const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim();
		const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim();

		return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
	});

	// Remove all existing TRs from the table
	while (tBody.firstChild) {
		tBody.removeChild(tBody.firstChild);
	}

	// Re-add the newly sorted rows
	tBody.append(...sortedRows);

	// Remember how the column is currently sorted
	table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
	table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-asc", asc);
	table.querySelector(`th:nth-child(${column + 1})`).classList.toggle("th-sort-desc", !asc);
    }

    document.querySelectorAll(".table-sortable th").forEach(headerCell => {
        headerCell.addEventListener("click", () => {
            const tableElement = headerCell.parentElement.parentElement.parentElement;
            const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
            const currentIsAscending = headerCell.classList.contains("th-sort-asc");

            sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
        });
    });
</script>
}

