@using A_Little_Extra_System.Data.ViewModal;
@using A_Little_Extra_System.Data.Static;
@model ActivityProgress

@{
    ViewData["Title"] = "Activity Progress";
}

<section class="my-sm-5">
    <div class="container">
        <div class="section-header d-flex mb-5">
            <h1 class="h-02 flex-grow-1">Activity Details - @Model.Activity.Name</h1>
        </div>
        <div class="">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="participants-tab" data-bs-toggle="tab"
                        data-bs-target="#participants" type="button" role="tab" aria-controls="home"
                        aria-selected="true">Participants</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="superviosrs-tab" data-bs-toggle="tab" data-bs-target="#superviosrs"
                        type="button" role="tab" aria-controls="superviosrs" aria-selected="false">Superviosrs</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="participants" role="tabpanel"
                    aria-labelledby="participants-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Participant name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Participants)
                            {
                                <tr>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if(Model.Participants.Count() == 0){
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 empty">
                                    <div class="d-flex justify-content-center align-items-center empty-image sml-img">
                                        <img src="~/images/empty_file.png" alt="">
                                    </div>
                                    <div class="message text-center mt-4">
                                        <h5 class="h-04">List is empty</h5>
                                        <span>Your list is empty at the moment</span>
                                    </div>
                                </div>
                }
                </div>
                <div class="tab-pane fade" id="superviosrs" role="tabpanel" aria-labelledby="superviosrs-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Superviosrs name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <form id="form">
                                <input type="hidden" asp-for="@Model.Activity.Id" />
                                <input type="hidden" asp-for="@Model.SuperviosrPos" id="pos" />
                                @for (int i = 0; i < Model.Supervisors.ToList().Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.SupervisorsStatus.ElementAt(i).ActivityId" />
                                    <input type="hidden" asp-for="@Model.SupervisorsStatus.ElementAt(i).UserId" />
                                    <tr>
                                        <td>@Model.Supervisors.ElementAt(i).FirstName
                                            @Model.Supervisors.ElementAt(i).LastName</td>
                                        <td>@Model.Supervisors.ElementAt(i).Email</td>
                                        <td>@Model.Supervisors.ElementAt(i).PhoneNumber</td>
                                        <td>
                                            @if (Model.SupervisorsStatus.ElementAt(i).Accepted == false)
                                            {
                                                <input formaction='@Url.Action("AcceptSupervisor")' type="submit"
                                            onclick="action('@i')" class="btn btn-primary btn-sm" value="Accept" />
                                                <input formaction='@Url.Action("RejectSupervisor")' type="submit"
                                            onclick="action('@i')" class="btn btn-outline-primary btn-sm"
                                            value="Reject" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </form>
                        </tbody>
                    </table>
                    @if(Model.Supervisors.Count() == 0){
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 empty">
                                    <div class="d-flex justify-content-center align-items-center empty-image sml-img">
                                        <img src="~/images/empty_file.png" alt="">
                                    </div>
                                    <div class="message text-center mt-4">
                                        <h5 class="h-04">List is empty</h5>
                                        <span>Your list is empty at the moment</span>
                                    </div>
                                </div>
                }
                </div>
            </div>
            <div class="row mt-5 mt-auto">
                <div class="col-md-2">
                    <a type="submit" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#cancel-activity">Cancel activity</a>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100">Edit activity</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="cancel-activity" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content br-20 pd-20">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title h-04 text-prim-color">Cancel activity</h5>
            </div>
            <div class="modal-body text-center">
                <p>Do you want to about to cancel your activity? All changes will be discarded.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Close</button>
                <input class="btn btn-primary w-100" asp-controller="Dashboard" asp-action="CancelActivity"
                    value="Confirm" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    function action(i) {
        $("#pos").val(i);
        $('#form').submit()
    }
</script>
}