@using A_Little_Extra_System.Data.Static;
@using A_Little_Extra_System.Data.ViewModal;
@using A_Little_Extra_System.Data.Enums
@model ActivityView

@{
	ViewData["Title"] = "Activities";
}

<section class="my-sm-5">
	<div class="container">
		<div class="section-header d-flex mb-3">
			<h1 class="h-02 flex-grow-1">Available activities </h1>
			@if (User.Identity.IsAuthenticated)
			{
				<a class="btn btn-primary btn-lg" asp-controller="Activity" asp-action="Create">Post Activity</a>
			}
		</div>
		<div class="mb-3">
			<form class="form-inline my-2 my-lg-0" asp-action="Index" style="padding-right: 25px;">
				<div class="row">
					<div class="col-md-3">
						<input asp-for="SearchString" type="text" class="form-control"
							placeholder="Search for an activity...">
					</div>
					<div class="col-md-3">
						<select asp-for="DateRange" class="form-select" aria-label="Default select example">
							<option value="All time">All time</option>
							<option value="Today">Today</option>
							<option value="This week">This week</option>
							<option value="This month">This month</option>
							<option value="This year">This year</option>
						</select>
					</div>
					<div class="col-md-3">
						<select asp-for="PointsRange" class="form-select" aria-label="Default select example">
							<option value="All points">All points</option>
							<option value="1 - 20">1 - 20</option>
							<option value="20 - 40">20 - 40</option>
							<option value="40 - 60">40 - 60</option>
							<option value="60 - 80">60 - 80</option>
							<option value="80 - 100">80 - 100</option>
						</select>
					</div>
					<div class="col-md-3">
						@* <input class="btn btn-primary mb-2 w-100" type="submit" value="Register" /> *@
						<button class="btn btn-primary w-100" type="submit"><i class="bi bi-search"></i> Search</button>
					</div>
				</div>
			</form>
		</div>
		<div class="activities">
			@if (Model != null)
			{
				foreach (var item in Model.Activities)
				{
					<div class="card br-20 mb-5 c-card">
						<div class="card-body">
							<div class="d-flex align-items-center mb-2">
								<h5 class="card-title h-04 text-black flex-grow-1">@item.Name</h5>
								<div class="d-flex align-items-center">
									<p class="p-sm text-prim-color mr-06">@item.Points Points</p>
									<p class="p-sm text-grey-03">@item.StartDate.ToString("dd MMM yyyy")</p>
									<p class="p-sm mx-2">-</p>
									<p class="p-sm text-grey-03">@item.EndDate.ToString("dd MMM yyyy")</p>
								</div>
							</div>
							<p class="card-text mb-4">@item.Description</p>
							<div class="">
								<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary mr-3">View
									details</a>
								@if (User.IsInRole(UserRoles.Student))
								{
									<a class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#participate-@item.Id">Participate</a>
								}
								else if (User.IsInRole(UserRoles.DepartmentStaff))
								{
									<a class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#supervise-@item.Id">Supervise</a>
								}
							</div>
						</div>
					</div>

					<div class="modal" id="participate-@item.Id" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content br-20 pd-20">
								<div class="modal-header justify-content-center">
									<h5 class="modal-title h-04 text-prim-color">Participate</h5>
								</div>
								<div class="modal-body text-center">
									<p>You are about to be added as a participant to the Activity @item.Name.</p>
								</div>
								<div class="modal-footer justify-content-center">
									<a class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Close</a>
									<a class="btn btn-primary w-100" asp-action="AddParticipant"
								asp-route-id="@item.Id">Confirm</a>
								</div>
							</div>
						</div>
					</div>

					<div class="modal" id="supervise-@item.Id" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content br-20 pd-20">
								<div class="modal-header justify-content-center">
									<h5 class="modal-title h-04 text-prim-color">Supervise</h5>
								</div>
								<div class="modal-body text-center">
									<p>You are about to be added as a supervisor to the Activity @item.Name.</p>
								</div>
								<div class="modal-footer justify-content-center">
									<a class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Close</a>
									<a class="btn btn-primary w-100" asp-action="AddSupervisor"
								asp-route-id="@item.Id">Confirm</a>
								</div>
							</div>
						</div>
					</div>
				}
			}
			@if (Model.Activities.Count() == 0)
			{
				<div class="d-flex flex-column justify-content-center align-items-center w-100 empty">
					<div class="d-flex justify-content-center align-items-center empty-image sml-img">
						<img src="~/images/empty_file.png" alt="">
					</div>
					<div class="message text-center mt-4">
						<h5 class="h-04">List is empty</h5>
						<span>Your list is empty at the moment</span>
					</div>
				</div>
			}
		</div>
	</div>
</section>
